* html body {width:expression(document.documentElement.clientWidth < 940 ? "940px" : "auto");}
.menu li span { margin-top: expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight)/2 + "px") : "0"); }
* html .logo {
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/osgeo/images/logo.png', sizingmethod='crop');
}
* html .twocolumns {
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/osgeo/images/bg-twocolumns-t.png', sizingmethod='crop');
}
* html .twocolumns .b {
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/osgeo/images/bg-twocolumns-b.png', sizingmethod='crop');
}
* html .twocolumns .c {
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/osgeo/images/bg-twocolumns.png', sizingmethod='scale');
}
* html .language li { z-index: expression( runtimeStyle.zIndex = 1, this == parentNode.firstChild ? (className += " first-child") : 0 ); }