/**
 * OSGeo
 */
 html {min-width:940px;}
body {
	margin:0;
	color:#000;
	font:12px/15px Arial, Helvetica, sans-serif;
	background:#fff url(images/bg-wrapper.jpg) no-repeat 50% 0;
	min-width:940px;
}
img {border-style:none;}
a{
	text-decoration:none;
	color:#000;
}
a:hover {text-decoration:underline;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
form,
fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper {
	width:100%;
	background:url(images/bg-wrapper-holder.jpg) no-repeat 50% 100%;
}
.wrapper-holder {
	width:938px;
	margin:0 auto;
	min-height:695px;
	padding:0 0 13px;
}
.main-page {padding:0 0 73px;}
* html .wrapper-holder {height:695px;}
#header {
	overflow:hidden;
	width:100%;
	margin:0 0 17px;
}
.logo {
	width:264px;
	height:114px;
	background:url(images/logo.png);
	text-indent:-9999px;
	overflow:hidden;
	margin:40px 0 0;
	float:left;
}
.logo a {
	display:block;
	height:100%;
	position:relative;
}
.header-holder {
	float:right;
	width:660px;
	padding:103px 0 0;
}
.search-form {
	float:right;
	background:url(images/bg-search-form.gif) no-repeat;
	width:110px;
	padding:0 10px 11px 22px;
}
.search-form .container-inline {float:left;}
.search-form .form-item {float:left;}
.search-form .form-item label {display:none;}
.search-form .form-item input {
	float:left;
	width:100%;
	margin:1px 0;
	padding:3px 0;
	background:none;
	border:0;
	color:#b0b0b0;
	font:11px/14px Arial, Helvetica, sans-serif;
}
.search-form .form-submit {display:none;}
.nav-holder {
	overflow:hidden;
	width:100%;
	clear:both;
}
#nav {
	float:right;
	list-style:none;
	padding:0;
	margin:0;
	font:italic 15px/18px Arial, Helvetica, sans-serif;
}
#nav li {
	float:left;
	display:inline;
	margin:0 0 0 35px;
}
#nav a {color:#393;}
#main {width:100%;}
#main:after,
#wrapper:after,
.wrapper-holder:after {
	content:"";
	display:block;
	clear:both;
}
.container {
	overflow:hidden;
	width:936px;
	background:#393 url(images/bg-container.gif) no-repeat;
	font:bold 12px/17px Arial, Helvetica, sans-serif;
	color:#fff;
	letter-spacing:1px;
	margin:0 auto 4px;
}
.container-holder {
	overflow:hidden;
	width:898px;
	background:url(images/bg-container.gif) no-repeat -936px 100%;
	padding:9px 19px 13px;
}
.container p {margin:0;}
.language {
	list-style:none;
	padding:0;
	margin:0 -15px 5px;
	overflow:hidden;
	width:966px;
	font:11px/14px Arial, Helvetica, sans-serif;
	text-align:center;
	position:relative;
}
.language li {
	display:inline;
	background:url(images/bg-language.gif) no-repeat 0 55%;
	letter-spacing:1px;
	padding:0 0 0 8px;
}
.language li:first-child,
.language li.first-child {background:none;}
.language a {color:#0ba9ce;}
.columns {
	overflow:hidden;
	width:937px;
	background:url(images/bg-columns.gif) repeat-y;
	margin:0 0 3px;
}
.columns-holder {background:url(images/bg-columns-holder.gif) no-repeat;}
.columns-frame {
	overflow:hidden;
	width:937px;
	background:url(images/bg-columns-frame.gif) no-repeat 0 100%;
}
.column-box {
	overflow:hidden;
	width:980px;
}
.column {
	float:left;
	width:138px;
	display:inline;
	margin:0 16px 0 0;
	padding:44px 18px 48px;
}
.column .title {
	overflow:hidden;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	height:58px;
}
.column .title h2 {
	margin:0;
	font:bold 18px/21px Arial, Helvetica, sans-serif;
}
.column ul {
	list-style:none;
	padding:0;
	margin:0;
	font:bold 12px/15px Arial, Helvetica, sans-serif;
	letter-spacing:1px;
}
.column ul li {margin:0 0 13px;}
.column ul a {color:#fff;}
#main h3 {
	margin:0;
	text-align:center;
	color:#fff;
	font:bold 25px/28px Arial, Helvetica, sans-serif;
}
/*----- This will hide the list below the content. Unhide if u need it--------*/
ul, .links {
	list-style-type: upper-roman;
	display: block;
}
/* ----------------------------------------*/
.main-page #main h3 {color:#393;}
.menu-holder {
	overflow:hidden;
	width:100%;
	padding:0 0 7px;
}
.menu {
	float:right;
	list-style:none;
	padding:0;
	margin:0;
	font:9px/12px Arial, Helvetica, sans-serif;
}
.menu li {
	float:left;
	display:table;
	margin:0 0 0 2px;
	text-align:center;
	text-transform:uppercase;
	height:26px;
	padding:5px 0 0;
}
.menu li:hover,
.menu li.hover,
.menu .active {
	padding:4px 0 0;
	border-top:1px solid #8a8a8a;
}
.menu li a {
	display:table-cell;
	vertical-align:middle;
	width:90px;
	height:26px;
	color:#fff;
}
* html .menu li a {
	display:block;

}
* +html .menu li a {
	display:block;

}
* html .menu li span {display:block;}
* +html .menu li span {display:block;}
.menu .link1 {background:url(images/bg-menu.gif) no-repeat;}
.menu .link2 {background:url(images/bg-menu.gif) no-repeat -90px 0;}
.menu .link3 {background:url(images/bg-menu.gif) no-repeat -183px 0;}
.menu .link4 {background:url(images/bg-menu.gif) no-repeat -275px 0;}
.menu .link5 {background:url(images/bg-menu.gif) no-repeat -367px 0;}
.menu .active a,
.menu a:hover {
	text-decoration:none;
}

.twocolumns {
	width:905px;
	padding:60px 0 0;
	margin:0 auto -7px;
	background:url(images/bg-twocolumns-t.png) no-repeat;
}
.twocolumns .b {
	height:57px;
	width:905px;
	overflow:hidden;
	background:url(images/bg-twocolumns-b.png) no-repeat;
	font-size:0;
	line-height:0;
	clear:both;
}
.twocolumns .c {
	width:905px;
	float:left;
	background:url(images/bg-twocolumns.png) repeat-y;
}
* html .twocolumns .c {float:none;}
.twocolumns-holder {
	width:860px;
	position:relative;
	float:left;
	padding:0 34px 0 11px;
	margin:-19px 0 0;
	min-height:431px;
}
* html .twocolumns-holder {height:431px;}
#sidebar {
	float:left;
	width:133px;
	padding:0 5px 0 24px;
}
#sidebar .heading {
	overflow:hidden;
	width:152px;
	position:relative;
	margin:0 0 16px -19px;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
}
#sidebar h2 {
	margin:0;
	font:bold 16px/19px Arial, Helvetica, sans-serif;
}
#sidebar ul {
	list-style:none;
	padding:0;
	margin:0;
	font:bold 12px/15px Arial, Helvetica, sans-serif;
}
#sidebar ul li {
	margin:0 0 10px;
	letter-spacing:1px;
}
#sidebar ul a {color:#fff;}
#content {
	float:right;
	width:634px;
}

.form-item{
	margin:0;
}

#search-block-form {
	float:right;
	background:url(images/bg-search-form.gif) no-repeat;
	width:110px;
	padding:0 10px 11px 22px;
}
#search-block-form .container-inline {float:left;}
#search-block-form .form-item {float:left;}
#search-block-form .form-item label {display:none;}
#search-block-form .form-item input {
	float:left;
	width:100%;
	margin:1px 0;
	padding:3px 0;
	background:none;
	border:0;
	color:#b0b0b0;
	font:11px/14px Arial, Helvetica, sans-serif;
}
#search-block-form .form-submit {display:none;}

ul.menu li {
	margin:0 0 0 2px;
}

