/* @override http://skinr.docs/modules/book/book.css?lff21s */

/* Admin */
#book-outline {
  min-width: 56em;
}
.book-outline-form .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
html.js #edit-book-pick-book {
  display: none;
}
.form-item-book-bid .description {
  clear: both;
}
#book-admin-edit select {
  margin-right: 24px;
}
#book-admin-edit select.progress-disabled {
  margin-right: 0;
}
#book-admin-edit tr.ajax-new-content {
  background-color: #ffd;
}
#book-admin-edit .form-item {
  float: left;
}

/* Front end */
.book-navigation {
  font-size: 1.077em;
  margin: 1em 0 0 0;
}
.book-navigation ul.menu {
  border-top: solid 1px #e4e4e4;
  margin: 0;
  padding: 2em 2em 2em 3em;
  list-style-type: square;
}
.book-navigation .menu li {
  margin-bottom: 0.4em;
  padding: 0;
}
.book-navigation .page-links {
  border-top: solid 1px #e4e4e4;
  text-align: center;
  padding: 1em 0;
}
.book-navigation .page-previous {
  text-align: left;
  width: 42%;
  display: block;
  float: left; /* LTR */
}
.book-navigation .page-up {
  margin: 0 5%;
  width: 4%;
  display: block;
  float: left; /* LTR */
}
.book-navigation .page-next {
  text-align: right;
  width: 42%;
  display: block;
  float: right;
}

